.info {
    background-image: url(/assets/img/bgcurtain.jpg);
    background-size:cover;
}
.info .order {
    border: 3px solid #770a00;
    padding: 5px 20px;
    color: solid #770a00;
    font-size: 20px;
}
.info button:hover{
    text-decoration: underline;
}
@media screen and (max-device-width: 1024) {
   .info button[type=submit] {
        margin-left: 10%!important;
    }
}
    @media screen and (max-device-width: 630px) {
        .info { background-size: 0;}
}
