<app-header></app-header>

<main>
    <!--<img src="/assets/img/head.png" alt="заголовок" class="w-100">-->
    <div class="container block">
        <div class="col about text-center">
            <h2> <a name="about" >О нас</a></h2>
            <p class="text-justify">Мы рады приветствовать Вас в интернет магазине DVD и Blu-Ray дисков, где Вы сможете без труда купить фильмы и сериалы. Получить все интересующие Вас DVD можно в пунте выдачи заказов, заказать курьерскую доставку или получить в почтовом отделении в любое удобное для Вас время!
            </p>
    </div>

    <div class="col films text-center" name="films">
        <h2><a name="films" >Фильмы</a></h2>
            <div class="row filmsphoto" >
                <div class="col" *ngFor = "let film of films.slice(0,3)">
                    <a [routerLink]="['film-info', film.id]"  title="Посмотреть подробную информацию" class="photo">
                        <div class="mt-5">
                             <img src="{{film.picture}}" alt="Фильм" class="w-100">
                        </div>
                    </a>
                    <div class="row order">
                         <div class="col">
                             <p>Цена: {{film.price}}</p>
                         </div>
                         <div class="col">
                          <a  [routerLink]="['/form-ready', film.id]" >Заказать</a>
                         </div>
                     </div>
            </div>
            <ng-container *ngIf="next">
            <div class="col" *ngFor = "let film of films.slice(3)">
                <a [routerLink]="['film-info', film.id]" class="photo" title="Посмотреть подробную информацию">
                    <div class="mt-5">
                    <img src="{{film.picture}}" alt="Фильм" class="w-100">
                    </div>
                </a>
                <div class="row order">
                    <div class="col">
                        <p>Цена: {{film.price}}</p>

                    </div>
                    <div class="col">
        <a  [routerLink]="['/form-ready', film.id]">Заказать</a>
    </div>
    </div>
</div>
</ng-container>
    </div>
        <a href="" class="" *ngIf="next" (click)="onNext()">Спрятать</a>
        <a href="" class="" *ngIf="!next" (click)="onNext()">Показать ещё</a>
    </div>
      <div class="col contact text-left mt-5 pb-5" name="contacts">
            <h2 class="text-center"><a name="contacts" >Контакты</a></h2>
            <p>Адрес: г. Москва, ул...</p>
            <p>Телефоны для связи: 8(910)-422-22-21, 8(967)-422-22-21</p>
            <p>Email: <a href="mailto:films-serials@gmail.com">films-serials@gmail.com</a></p>
            <p>Ссылки на социальные сети:</p>
            <div class="row">
                <div class="col-4 col-lg-1">
                <a href="https://www.vk.com"><img src="/assets/img/vk.png" alt="ВК" class="w-100"></a>
            </div>
            <div class="col-4 col-lg-1">
                <a href="https://www.instagram.com"><img src="/assets/img/inst.png" alt="Inst" class="w-100"></a>
            </div>
            </div>

        </div>
        </div>
</main>
